*{
    margin:0;
    padding: 0;
}

body{
    background: #e6e6e6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header, main, footer{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
}

header nav{
    background: #04DB6C;
    overflow: hidden;
}

header nav ul{
    list-style: none;
}

header nav ul li{
    float: left;
}

header nav ul li a{
    padding: 10px 20px;
    display: block;
    text-decoration: none;
    color:white;
}

header nav ul li a:hover{
    background: #04D12D;
}

.principal{
    width: 68.5%;
    float: left;
    margin-right: 1.5%;
}

.principal article{
    padding: 20px;
    background: #ffffff;
    margin-bottom: 20px;
    text-align: justify;
}

footer{
    background: #04DB31;
    color: white;
    clear:both;
    text-align: center;

}

footer{
    background: #04DB31;
    color: white;
    clear:both;
    text-align: center;

}

form{
    background-color: #0EC49A;
    padding: 10px;
    width: 400px;
    margin: 0 auto;
}

label{
    color: white;
    width: 390px;
    display: block;
}

#temp{
    color: white;
}

.dni, .field, #temperatura{
    margin-bottom: 10px;
}

.dni{
    width: 100px;
}

.dni:focus{
    background: #04DB31;
  
}

.field{
    width: 380px;
}

.field:focus{
    background: #04DB31;
  
}

.btn{
    border-radius: 3px;
    display: inline-block;
    padding: 5px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.btn-green{
    color: white;
    background-color: #3cc93F;
}

.btn-green:hover{
    background-color: #37B839;
}

.btn-green:active{
    background-color: #29962A;
}